/* width 300 img */
html {
  font-family: FreeMono, monospace;
  height: 100%;
  margin: 0;
}

header, footer{
  position: fixed;
  border-bottom: 1px solid rgb(211, 211, 211);
  border-top:1px solid rgb(211, 211, 211);
  background-color:rgb(255, 255, 255);
}

.header
{
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
}

.store-name{
  font-family:'PT Sans Narrow', sans-serif;
  font-size: 32px;
  font-weight: normal;
  margin: 10px auto;
}

.store-name::first-letter{
  color: red;
}

.footer{
  font-size: 14px;
  font-family: Arial, sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-elem
{
  margin: 10px 20px 20px;
}

.mails{
  float: left;
  color: darkgray;
}

.href{
  color: #4c4cd8;
  text-decoration: none;
}

.mail::before
{
  content: '';
  display: inline-block;
  background-image: url(img/mail.png);
  background-size:cover;
  width: 15px;
  height: 13px;
}

.copyright{
  position: absolute;
  bottom: 0;
  right: 0;
}


.kitty-gallery {
  position: relative;
  height: 19em;
  overflow: hidden;
  margin-top: 30vh;
}


.slides_with_kitties {
  margin-left: 50%;
  white-space: nowrap;
  transition: transform 0.5s ease;
}

.kitty,
.activated_kitty {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 15em;
  list-style: none;
  opacity: 0.7;
}
.activated_kitty {
  display: none;
}
.kitty_name {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  color: white;
}

.photo,
.photo_modal {

  display: block;
  overflow: hidden;
  width: 20em;
  height: 100%;
  padding: 0;
}
.photo_modal {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
}

.photo > img,
.photo_modal > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.switcher {
  display: none;
}

.labels-for-switchers{
  position: absolute;
  top: 80%;
  text-align: center;
  width: 100%;
  padding: 2px 0;
  z-index: 11;
}

.labels-for-switchers >li{
  display: inline-block;
}

.label-for-switcher{
  display: block;
  width: 15px;
  height: 15px;
  background-color: lightgray;
  border-radius: 15px;
}
.first:checked ~.labels-for-switchers li:nth-child(1) > .label-for-switcher,
.second:checked ~.labels-for-switchers li:nth-child(2) > .label-for-switcher,
.third:checked ~.labels-for-switchers li:nth-child(3) > .label-for-switcher
{
  background-color: darkgray;
}

.switcher:nth-child(1) {
  transform: translateX(-250%);
}
.switcher:nth-child(2) {
  transform: translateX(-150%);
}
.switcher:nth-child(3) {
  transform: translateX(-50%);
}


.kitties_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

.kittie {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 60vw;
  max-height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kittie_info {
  position: absolute;
  left: 60%;
  width: 40%;
  height: 100%;

  padding: 2em;
}

.name {
  margin-bottom: 1em;
}

.text {
  margin-top: 1em;
}

.close {
  font-size:32px;
  position: absolute;
  right: -2vw;
  top: -2vw;
  z-index: 14;
}

.first:checked ~ .slides_with_kitties {
  transform: translateX(-10em);
}
.second:checked ~ .slides_with_kitties {
  transform: translateX(-30em);
}
.third:checked ~ .slides_with_kitties {
  transform: translateX(-50em);
}

.first:checked  ~ .slides_with_kitties > .kitty:nth-child(1),
.first:checked  ~ .slides_with_kitties > .kitty:nth-child(1) .activated_kitty,
.second:checked ~ .slides_with_kitties > .kitty:nth-child(2),
.second:checked ~ .slides_with_kitties > .kitty:nth-child(2) .activated_kitty,
.third:checked ~ .slides_with_kitties > .kitty:nth-child(3),
.third:checked ~ .slides_with_kitties > .kitty:nth-child(3) .activated_kitty
{
  height: 15.5em;
  opacity: 1;
}

.first:checked  ~ .slides_with_kitties > .kitty:nth-child(1) > picture,
.second:checked ~ .slides_with_kitties > .kitty:nth-child(2) > picture,
.third:checked ~ .slides_with_kitties > .kitty:nth-child(3) > picture
{
  display: none;
}
.first:checked  ~ .slides_with_kitties > .kitty:nth-child(1) > .activated_kitty,
.second:checked ~ .slides_with_kitties > .kitty:nth-child(2) > .activated_kitty,
.third:checked ~ .slides_with_kitties > .kitty:nth-child(3) > .activated_kitty{
  display: block;
}


.first:checked  ~ .slides_with_kitties > .kitty:nth-child(1):hover .activated_kitty .photo,
.second:checked ~ .slides_with_kitties > .kitty:nth-child(2):hover .activated_kitty .photo,
.third:checked ~ .slides_with_kitties > .kitty:nth-child(3):hover .activated_kitty .photo
{
  filter: brightness(0.4);
}
.first:checked  ~ .slides_with_kitties > .kitty:nth-child(1):hover .activated_kitty .kitty_name,
.second:checked ~ .slides_with_kitties > .kitty:nth-child(2):hover .activated_kitty .kitty_name,
.third:checked ~ .slides_with_kitties > .kitty:nth-child(3):hover .activated_kitty .kitty_name
{
  display: block;
}

.modal-switcher,
.close_button {
  visibility: hidden;
}

.closing_modal:checked ~ .kitties_modal,
.closing_modal:checked:checked ~ .kitties_modal .kittie,
.item1,
.item2,
.item3
{
  display: none;
}

.first_modal:checked ~ .kitties_modal,
.first_modal:checked:checked ~ .kitties_modal .item1{
  display: block;
}

.second_modal:checked ~ .kitties_modal,
.second_modal:checked ~ .kitties_modal .item2{
  display: block;
}

.third_modal:checked ~ .kitties_modal,
.third_modal:checked ~ .kitties_modal .item3{
  display: block;
}

