html {
  font-family: FreeMono, monospace;
}

body {
  box-sizing: border-box;
  min-height: 100%;
}

.view {
  display: none;
}

.label {
  position: relative;
  display: inline-block;
  transition: 1s;
  font-size: 32px;
}

.view:checked + label {
  transform: rotate(90deg);
}

.cards{
  width: 80%;
  display: block;
  box-sizing: border-box;
  margin: auto;
}

.kitty-card{
  min-height: 600px;
  display: inline-block;
  vertical-align: top;
  margin: 5px auto;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 5px lightgrey;
}

.cat-image {
  display: block;
}

.img{
  width: 100%;
  height: 100%;
}

.information .cat-name
{
  font-size: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.name {
  color: black;
  text-decoration: none;
}

.name:visited {
  color: black;
}

.view:not(:checked) ~ .cards .kitty-card .full-description {
  display: none;
}

.name:hover{
  background:  lightgrey;
}

.cat-description:hover
{
  border: dotted lightgrey;
}

.kitty-card:hover {
  box-shadow: 0 0 15px darkgray;
}

.cat-image:hover {
  transform: scale(1.05,1.05);
}

.label:hover{
  color: lightgrey;
}

.view:checked ~ .cards .description
{
  display: none;
}

.view:checked ~ .cards {
  width: 100%;
}

.view:checked ~ .cards .kitty-card
{
  width: 96%;
  min-height: 450px;
}
.view:checked ~ .cards .kitty-card .information{
  width: 300px;
  margin: -30% auto;
}

.view:checked ~ .cards .kitty-card .cat-image{
  padding:20px;
  width: 30%;
}

.view:checked ~ .cards .kitty-card .information .cat-name{
  overflow: visible;
}


