body {
    min-width: 1000px;
    margin: 0;
    font-family: "SansSerif", sans-serif;
    font-size: 81%;
}

.content {
    display: grid;
    grid-template: 'header notification' 56px 'main  notification' 1fr / 1fr 212px;
}

.header-wrapper {
    grid-area: header;
    width: 100%;
    height: 56px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 42px;
    padding: 0 18px 0 30px;
}

.header-item {
    margin-top: 7px;
    display: flex;
    align-items: center;
}


.text_link {
    transition: color 0.15s ease-out;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.text_blue {
    color: #1e5cbb;
}

.text_link:hover {
    color: #f40404;
}

.text_light-blue {
    color: #8ab6e3;
}

.text_font_size_small {
    font-size: 81%;
}

.text_font-size_large {
    font-size: 106%;
}

.text_font-size_huge {
    font-size: 123%;
}

.text_inline-block {
    display: inline-block;
}

.settings-dropdown__menu {
    width: 212px;
    box-shadow: 0 4px 10px 0 #d8d8d8;
    padding: 10px 0 10px 10px;
    margin: 0;
}

.settings_dropdown_drop {
    top: 0.1vh;
    right: 17vw;
    position: absolute;
}

.settings-dropdown {
    visibility: hidden;
    position: absolute;
    top: 20px;
    z-index: 12;
    background-color: white;
}

.settings-widget:checked ~ .settings-dropdown {
    visibility: visible;
}

.settings__dropdown::before {
    position: absolute;
    top: -9px;
    left: calc(50% - 7px);
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 1px solid #ded9d9;
    border-left: 1px solid #ded9d9;
    background: #fff;
    content: '';
}

.settings-control {
    cursor: pointer;
}


.settings-dropdown__item {
    margin: 5px 0;
}

.settings-dropdown__label {
    position: relative;
    width: 90px;
    cursor: pointer;
    line-height: 18px;
}

.settings-dropdown__label:active::after {
    background-color: #e6e6e6;
}

.settings-dropdown__label:after {
    float: left;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-right: 1rem;
    border: 2px solid #0080d3;
    background-color: #a3c8e2;
    border-radius: 3px;
    content: '';
}

.text_gray {
    color: #999;
}

.text_white {
    color: #fff;
}

.notifications-wrapper {
    grid-area: notification;
    width: 212px;
    height: 100%;
    margin-top: 7px;
    margin-bottom: 50px;
    margin-left: auto;
    background-color: transparent;
}

.notifications {
    overflow: hidden;
    max-height: 600px;
    padding: 2px 2px 0 18px;
}

.notification-card {
    position: relative;
    margin: 0 10px 8px 0;
    padding: 12px 14px;
    box-shadow: 0 0 2px 0 #0000001a, 0 2px 6px 0 #0000001a;
}


.notifications__header {
    margin-bottom: 16px;
    font-weight: bold;
}

.notification-text {
    font-size: 14px;
    display: block;
    margin: 10px 0;
    padding: 0 10px;
}

.text_first-letter-colored::first-letter {
    color: red;
    font-weight: normal;
}

.text_weight_bold {
    font-weight: bold;
}
.link_not-bold {
    font-weight: normal;
}
.rows {
    grid-area: main;
    grid-column: 1 / 3;
}

.rows__row-container {
    width: 900px;
    margin: 0 auto;
    padding: 0 36px 0 0;
}

.row-container__row {
    display: flex;
    flex-direction: row;
}

.gif__spam {
    margin-top: 30px;
    width: 730px;
}

.row-container__row_news {
    margin-top: -4px;
    margin-bottom: 7px;
}

.column_news {
    flex: 100 0 auto;
    max-width: 66.6%;
    margin-bottom: 2px;
    padding-right: 6px;
}

.news-tabs {
    padding-top: 4px;
}

.news-tabs__tab {
    display: inline-block;
    margin-top: 0;
    margin-right: 12px;
    margin-bottom: 8px;
    white-space: nowrap;
}

.news-tabs__date {
    margin-bottom: 7px;
}

.news-list {
    margin: 3px 0 0 0;
    padding: 0;
}

.news-list__item {
    margin-bottom: 8px;
}

.currency {
    display: flex;
}

.currency__item {
    margin-right: 12px;
    margin-bottom: 9px;
    letter-spacing: 1px;
}

.text_currency {
    margin-right: 4px;
}

.column_offer {
    margin-left: 50vw;
    margin-top: -30vh;
    max-width: 33.3%;
    margin-bottom: 2px;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.offer__image {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.offer__title {
    margin: 10px 0 8px 0;
    font-size: 123%;
    font-weight: 500;
}

.offer__description {
    margin-top: 5px;
}

.home-tabs__link {
    margin-right: 15px;
}

.home__item {
    margin-top: 25px;
    margin-bottom: -15px;
}

.home__item_search {
    position: relative;
}

.home-search__search-image {
    position: absolute;
    top: -35px;
    left: -150px;
}

.search {
    display: flex;
    width: 813px;
    border: 2px solid #ffdb4d;
}

.search__input-wrapper,
.search__button-wrapper {
    position: relative;
}

.search__image {
    position: absolute;
    top: 11px;

    cursor: pointer;
}

.search__image_opacity_m {
    opacity: 0.4;
}

.search__image_opacity_low {
    opacity: 0.2;
}

.search__keyboard {
    right: 15px;
}

.search__mic {
    top: 6px;
    right: 45px;
}

.search__image_opacity_low:hover {
    opacity: 0.4;
}

.search__image_opacity_m:hover {
    opacity: 0.6;
}

.search-input {
    box-sizing: border-box;
    width: 730px;
    height: 35px;
    padding: 0;
    border: 0 solid transparent;
    border-right-width: 75px;
    border-left-width: 13px;
    outline: none;
}

.button {
    height: 100%;
    padding: 0;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

.button_theme_search {
    width: 83px;
    background-color: #ffdb4d;
    outline: none;
}

.corner-sharp {
    position: absolute;
    width: 0;
    height: 0;
}

.corner-sharp_pos_b-r {
    right: -2px;
    bottom: -2px;
    border-bottom: 20px solid white;
    border-left: 10px solid transparent;
}

.corner-sharp_pos_t-r {
    top: -2px;
    right: -2px;
    border-top: 20px solid white;
    border-left: 10px solid transparent;
}

.widget__text,
.scroll__text {
    margin-top: 9px;
    margin-bottom: 9px;
    line-height: 1.5;
}

.m-dash {
    padding: 0 2px;
}

.tv-text,
.traffic-text,
.affiche-text{
    margin-top: 0;
    margin-bottom: 0;
}

.affiche-text{
    line-height: 0.6;
}

.tv-text,
.traffic-text {
    line-height: 0.2;
}

.tv-header__online {
    height: 40px;
    margin-bottom: 2px;
    margin-left: 10px;
    border-radius: 4px;
    transition: transform 0.15s ease-in-out;
    background: linear-gradient(-225deg, #58c2ff 0%, #8080ff 100%);
}

.tv-header__online:hover {
    transform: scale(1.05);
}

.text_online {
    padding: 0 8px 0 9px;
}

.widgets__movie-name {
    margin: 0 5px;
}

.scroll-wrapper__scroll_height_m {
    height: 280px;
}

.scroll__text_block {
    display: block;
}

.scroll-wrapper__scroll_true {
    overflow-y: scroll;
    width: 250px;
}

.widget__scroll-wrapper {
    overflow: hidden;
    width: 232px;
}

.scroll-wrapper__scroll_transparent-gradient::before {
    position: absolute;
    top: 15px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(
            #fff,
            #ffffff99 5%,
            #ffffff00 15%,
            #ffffff00 85%,
            #ffffff99 95%,
            #fff
    );
    content: '';
}

.scroll-wrapper__scroll_transparent-gradient {
    padding-top: 22px;
    padding-bottom: 22px;
}

.widget__image-container {
    position: relative;
    margin: 0 5px;
    vertical-align: middle;
}

.widget__image_size_s {
    width: 23px;
    height: 23px;
}

.widget__image_size_m {
    width: 35px;
    height: 35px;
}

.widget__link {
    margin-right: 8px;
    margin-bottom: 6px;
}


.widget-input {
    display: none;
}

.jokes-labels__label {
    margin-top: 25px;
}

.j-label-2,
.j-label-3,
.j-label-4,
.j-label-5,
.joke-2,
.joke-3,
.joke-4,
.joke-5 {
    visibility: hidden;
    display: none;
}

.joke-1-inp:checked ~ .joke-2,
.joke-1-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(2),
.joke-2-inp:checked ~ .joke-3,
.joke-2-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(3),
.joke-3-inp:checked ~ .joke-4,
.joke-3-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(4),
.joke-4-inp:checked ~ .joke-5,
.joke-4-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(5),
.joke-5-inp:checked ~ .joke-1,
.joke-5-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(1) {
    visibility: visible;
    display: block;
}

.joke-1-inp:checked ~ .joke-1,
.joke-1-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(1),
.joke-2-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(1),
.joke-2-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(2),
.joke-2-inp:checked ~ .joke-1,
.joke-3-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(1),
.joke-3-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(2),
.joke-3-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(3),
.joke-3-inp:checked ~ .joke-1,
.joke-3-inp:checked ~ .joke-2,
.joke-4-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(1),
.joke-4-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(2),
.joke-4-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(3),
.joke-4-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(4),
.joke-4-inp:checked ~ .joke-1,
.joke-4-inp:checked ~ .joke-2,
.joke-4-inp:checked ~ .joke-3,
.joke-5-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(2),
.joke-5-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(3),
.joke-5-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(4),
.joke-5-inp:checked ~ .jokes-labels .jokes-labels__label:nth-child(5),
.joke-5-inp:checked ~ .joke-2,
.joke-5-inp:checked ~ .joke-3,
.joke-5-inp:checked ~ .joke-4 {
    visibility: hidden;
    display: none;
}

.widgets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:'first second third';
}

.widgets-column__widget {
    width: 250px;
    margin: 35px 0;
}


.widget_relative {
    position: relative;
}

.column-1 {
    grid-area: first;
    margin-top: 0.6vh;
}

.column-2 {
    grid-area: second;
    margin-top: -0.3vh;
}

.column-3 {
    grid-area: third;
}

.services-widget-inp:not(:checked) ~ .header-wrapper .settings_dropdown_drop .settings-dropdown .settings-dropdown__menu .l-serv:after,
.jokes-widget-inp:not(:checked) ~ .header-wrapper .settings_dropdown_drop .settings-dropdown .settings-dropdown__menu .l-jokes:after,
.tv-widget-inp:not(:checked) ~ .header-wrapper .settings_dropdown_drop .settings-dropdown .settings-dropdown__menu .l-tv:after,
.car-news-widget-inp:not(:checked) ~ .header-wrapper .settings_dropdown_drop .settings-dropdown .settings-dropdown__menu .l-car-news:after,
.weather-widget-inp:not(:checked) ~ .header-wrapper .settings_dropdown_drop .settings-dropdown .settings-dropdown__menu .l-weather:after,
.traffic-widget-inp:not(:checked) ~ .header-wrapper .settings_dropdown_drop .settings-dropdown .settings-dropdown__menu .l-traffic:after,
.map-widget-inp:not(:checked) ~ .header-wrapper .settings_dropdown_drop .settings-dropdown .settings-dropdown__menu .l-map:after,
.affiche-widget-inp:not(:checked) ~ .header-wrapper .settings_dropdown_drop .settings-dropdown .settings-dropdown__menu .l-affiche:after {
    background-color: white;
}

.services-widget-inp:not(:checked) ~ .rows .row-container_widgets .widgets .column-1 .widget_services,
.jokes-widget-inp:not(:checked) ~ .rows .row-container_widgets .widgets .column-1 .widget_jokes,
.tv-widget-inp:not(:checked) ~ .rows .row-container_widgets .widgets .column-2 .widget_tv,
.car-news-widget-inp:not(:checked) ~ .rows .row-container_widgets .widgets .column-2 .widget_car-news,
.weather-widget-inp:not(:checked) ~ .rows .row-container_widgets .widgets .column-3 .widget_weather,
.traffic-widget-inp:not(:checked) ~ .rows .row-container_widgets .widgets .column-3 .widget_traffic,
.map-widget-inp:not(:checked) ~ .rows .row-container_widgets .widgets .column-3 .widget_city-map,
.affiche-widget-inp:not(:checked) ~ .rows .row-container_widgets .widgets .column-3 .widget_affiche {
    display: none;
}

.services-widget-inp:not(:checked) ~ .jokes-widget-inp:not(:checked) ~ .tv-widget-inp:checked ~ .rows .row-container_widgets .widgets .column-2,
.services-widget-inp:not(:checked) ~ .jokes-widget-inp:not(:checked) ~ .car-news-widget-inp:checked ~ .rows .row-container_widgets .widgets .column-2,
.services-widget-inp:not(:checked) ~ .jokes-widget-inp:not(:checked) ~ .tv-widget-inp:not(:checked) ~ .car-news-widget-inp:not(:checked) ~ .rows .row-container_widgets .widgets .column-3 {
    grid-area: first;
}

.services-widget-inp:not(:checked) ~ .jokes-widget-inp:not(:checked) ~ .tv-widget-inp:checked ~ .rows .row-container_widgets .widgets .column-3,
.services-widget-inp:not(:checked) ~ .jokes-widget-inp:not(:checked) ~ .car-news-widget-inp:checked ~ .rows .row-container_widgets .widgets .column-3,
.tv-widget-inp:not(:checked) ~ .car-news-widget-inp:not(:checked) ~ .rows .row-container_widgets .widgets .column-3 {
    grid-area: second;
}




